.paymentform {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Add this new style for the label-input pairs */
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.paymentbutton {
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
